.custom-button{
    padding: 15px 30px;
    border: 1px solid #000;
    background: #000;
    transition: .5s;
    cursor: pointer;
    color: #fff;
    min-width: 180px;

    &:hover{
        background: transparent;
        color: #000;
    }

    &:focus{
        outline: none;
    }

    &.sign-in-google{
        background: #4285F4;
        border: 1px solid #4285F4;
    }

    &.sign-in-google:hover{
        background: #1554b9;
        color: #fff;
    }
}