.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 9999999999;
    background: #ffffff;

    .logo{
        width: 20%;

        .svg{
            transform: scale(1.2);
        }
    }

    .navigation-links-parent{
        width: 80%;

        .nav-ul{    
            display: flex;
            list-style: none;
            justify-content: flex-end;
            padding-right: 10px;
            
            li{
                margin-right: 20px;
                text-transform: uppercase;
            }
        }

    }
}